{% extends "layout.html" %}

{% block content %}

<form action=""method="post">

    {{fo.hidden_tag() }}

    <div>
        {{ fo.email.label }}              <!--the label inside it is passedinthe string format-->
        {{ fo.email }} 
        
        {% if fo.email.errors %}

            {% for er in fo.email.errors %}
                <div>
                    {{ er }}
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <br>
    <div>
        {{ fo.username.label }}              <!--the label inside it is passedinthe string format-->
        {{ fo.username }}  

        {% if fo.username.errors %}

            {% for er in fo.username.errors %}
                <div>
                    {{ er }}
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <br>

    <div>
        {{ fo.password.label }}
        {{ fo.password }}
        
        {% if fo.password.errors %} 

            {% for er in fo.password.errors %} 
                <div>
                    {{ er }}
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <br>

    <div>
        {{ fo.remember_passkey.label }}
        {{ fo.remember_passkey }}

    </div>
    <br>

    <div>
        {{ fo.submit.label }}
        {{ fo.submit }}

        <p>Create new account !  <a href = " {{ url_for('sign') }}">Sign Up </a></p>
        <p>Redirect to Home !  <a href = " {{ url_for('h') }}">Home</a></p>
    </div>
    <br>

</form>

{% endblock %}

